*{
    margin:0;
    padding: 0;
}
body{
    font-family: verdana;
}

header{
    background-color: #2754ba;
    text-align: center;
    font-size: 25px;
    font-family: verdana;
}
footer{
    background-color: #2754ba;
    text-align: center;
    font-size: 50px;
    font-family: verdana;
}
span{
    color: rgb(255, 99, 71);
}
 div{
    padding: 25px 50px;
 }
